fastapi
uvicorn
jinja2
python-multipart
itsdangerous
sentence-transformers

# LangChain + comunidade
langchain
langchain-community
langchain-ollama
langchain-experimental

# Vetorização
faiss-cpu

# Caso use PDFs ou textos diversos
unstructured
pypdf

# Para variáveis de ambiente (se usado)
python-dotenv
